* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

body{
  background-color: rgb(223, 223, 223);
}

/* LAYOUT */
.container {
  max-width: 1024px;
  margin: 0 auto;
}

.col-6 {
  width: calc(100% / 2);
}